In [4]:
from pandas import read_csv

In [5]:
account = read_csv('../data/account.csv',';')
card_dev = read_csv('../data/card_dev.csv')
client = read_csv('../data/client.csv')
disp = read_csv('../data/disp.csv')
district = read_csv('../data/district.csv')
loan_dev = read_csv('../data/loan_dev.csv')
trans_dev = read_csv('../data/trans_dev.csv')

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/IPython/core/interactiveshell.py:3397: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [6]:
account

      account_id  district_id         frequency    date
0            576           55  monthly issuance  930101
1           3818           74  monthly issuance  930101
2            704           55  monthly issuance  930101
3           2378           16  monthly issuance  930101
4           2632           24  monthly issuance  930102
...          ...          ...               ...     ...
4495         124           55  monthly issuance  971228
4496        3958           59  monthly issuance  971228
4497         777           30  monthly issuance  971228
4498        1573           63  monthly issuance  971229
4499        3276            1  monthly issuance  971229

[4500 rows x 4 columns]